/.checkstack
/.checkstack.ver
/.cvc4.ver
/.compcert.ver
/.opam
/clion
/cvc4
/fmide.app
/graal
/idea
/idea-ultimate
/java
/opam
/sireum
/z3
/arm/.checkstack
/arm/.checkstack.ver
/arm/.compcert.ver
/arm/.cvc4.ver
/arm/.opam
/arm/clion
/arm/cvc4
/arm/fmide
/arm/graal
/arm/idea
/arm/idea-ultimate
/arm/java
/arm/opam
/arm/sireum
/arm/z3
*.cmd.jar
*.cmd.com
