/.checkstack
/.*.ver
/.opam
/acl2
/ccl
/clion
/codium-portable-data
/cs
/cs.ver
/cvc*
/fmide.app
/graal
/idea
/idea-ultimate
/Isabelle.app
/java
/opam
/osate.app
/rust
/rustrover
/sireum
/upx
/z3
/Brave Browser.app
/VSCodium.app
*.cmd.jar
*.cmd.com
*.sfx